body{

}
.principal {
    background: #ccccc
padding: 30px;
}
#banner{
    width: 100%;
}
p {
    text-align: center;
}
em strong {
    color :red
}#missão {
    font-size: 20px;
}
.itens {
    font-size: italic;
}

